<section class="content-header">
  <h1><%%= dgettext("<%= install.context_underscore %>", "Index page") %></h1>

  <p><%%= dgettext("<%= install.context_underscore %>", "Index page for the current context.") %></p>
</section>
