<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%%= live_title_tag assigns[:page_title] || dgettext("<%= install.context_underscore %>", "<%= install.context_app %>") %>
    
    <%%#= By default, load the CSS from an external CDN %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <%%#= Load the app's specific javascript %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>

  <body class="bg-light">
    <%%#
    The default layout has the following structure:

    +-----------------------------------------------+
    |                   Navbar                      |
    +-- Sidebar ----|-------------------------------+
    | Link 1        | (maybe empty) flash messages  |
    | Link 2        |-------------------------------|
    | ...           | Main content                  |
    |---------------|                               |
    |               |                               |
    |               |                               |
    +---------------+-------------------------------+
    |                   Footer                      |
    +-----------------------------------------------+

    You are of course free to change it as you see fit.
    User-visible text should be wrapped in a `dgettext()` call so that it can be easily translated.
    Any user-visible text that is *not* wrapped in such a call is a bug that should be reported.
    %>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><%%= dgettext("<%= install.context_underscore %>", "<%= install.web_module %>") %></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><%%= dgettext("<%= install.context_underscore %>", "Home") %></a>
          </li>
          <%%= if show_live_dashboard?(@conn) do %>
            <li class="nav-item">
              <a class="nav-link" href={Routes.live_dashboard_path(@conn, :home)}><%%= dgettext("<%= install.context_underscore %>", "LiveDashboard") %></a>
            </li>
          <%% end %>
        </ul><%= if install.user_entity_name do %>

        <%%# Right aligned %>
        <ul class="navbar-nav ml-auto">
          <%%= render "_<%= install.user_entity_name %>_menu.html", assigns %>
        </ul><% end %>
      </nav>
    </header>

    <div class="container-fluid py-3">
      <div class="row">
        <%%# Sidebar to the left ... %>
        <div class="col-sm-2">
          <%%= render <%= install.web_module %>.<%= install.layout_view_module %>, "sidebar.html", assigns %>
        </div>

        <%%# ... actual page content on the right %>
        <%%= @inner_content %>
      </div>
    </div>

    <%%# Footer with Copyright information %>
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">
        <%%= raw(
          dgettext("<%= install.context_underscore %>", """
          <strong>Copyright &copy; <%= DateTime.utc_now() |> Map.fetch!(:year) %> <a href="#"><%= install.web_module %></a>.</strong> All rights reserved.
          """)) %>
      </p>
    </footer>

    <%%# Forage-specific utilities (loads JQuery by default!) %>
    <%%# - Imports the necessary javascript for the select widget to work at all %>
    <%%= ForageWeb.Assets.forage_select_assets() %>
    <%%# - Runs the necessary javascript so that the select widget plays nice with Forage %>
    <%%= ForageWeb.Assets.activate_forage_select() %>
  </body>
</html>
